<div class="flex border-t border-slate-300 mt-9 pt-5 gap-3">
  <img src="/images/profile.png" alt="Andres Bedoya" class="w-24">
  <div>
    <p>About <strong>Andrés Bedoya</strong></p>
    <div class="flex flex-col gap-3">
      <p>JavaScript software engineer, internet enthusiast and blogger from an early age. He strongly believes in the free culture.</p>
      <p>Learn more about <a class="hover:no-underline text-blue-500 underline" href="https://srhart.co/" target="_blank" rel="noopener noreferrer">Andrés Bedoya</a></p>
    </div>
  </div>
</div>
