<div class="my-9 flex gap-3 border-t border-slate-300 pt-5">
  <img src="/images/profile.png" alt="Andres Bedoya" class="h-24 w-24" />
  <div>
    <p>About <strong>Andrés Bedoya</strong></p>
    <div class="flex flex-col gap-3">
      <p>
        JavaScript software engineer, internet enthusiast and blogger from an early age. He strongly
        believes in the free culture.
      </p>
      <p>
        Learn more about <a
          class="text-blue-500 underline hover:no-underline"
          href="https://srhart.co/"
          target="_blank"
          rel="noopener noreferrer">Andrés Bedoya</a
        >
      </p>
    </div>
  </div>
</div>
